---

---

<article class="about" id="about">
    <h3 data-locale-en="About" data-locale-es="Sobre mi">About</h3>
    <div class="about-content">
        <p
            data-locale-mode="html"
            data-locale-en="As a self-taught developer, I always feel the need to seek solutions from a technological perspective. This constant motivation to find solutions is also what pushes me to keep learning and continuously improve my skills."
            data-locale-es="Como desarrollador autodidacta, siempre siento la necesidad de buscar soluciones desde una perspectiva tecnologica. Esa motivacion constante por resolver problemas es tambien lo que me impulsa a seguir aprendiendo y mejorando mis habilidades."
        >
            As a self-taught developer, I always feel the need to seek solutions
            from a technological perspective. This constant motivation to find solutions
            is also what pushes me to keep learning and continuously improve my
            skills.
        </p>
        <p
            data-locale-mode="html"
            data-locale-en="After studying and practicing ethical hacking, I started my current role in 2021 as a QA at <strong>GeneXus</strong>, working with the security team. My tasks are diverse, but I specialize in automated testing and frequently work on test plans and regression analysis, all with the goal of <strong>ensuring the quality</strong> of the final product."
            data-locale-es="Despues de estudiar y practicar hacking etico, en 2021 comence mi rol actual como QA en <strong>GeneXus</strong>, trabajando con el equipo de seguridad. Mis tareas son diversas, pero me especializo en testing automatizado y trabajo con frecuencia en planes de prueba y analisis de regresion, siempre con el objetivo de <strong>asegurar la calidad</strong> del producto final."
        >
            After studying and practicing ethical hacking, I started my current role
            in 2021 as a QA at <strong>GeneXus</strong>, working with the security team. My tasks are
            diverse, but I specialize in automated testing and frequently work on
            test plans and regression analysis, all with the goal of <strong>ensuring the
            quality</strong> of the final product.
        </p>
        <p
            data-locale-mode="html"
            data-locale-en="I am in my final year of the IT Technologist degree. Thanks to the wide range of projects and challenges I have tackled, I feel confident in my ability to <strong>take on new challenges</strong> with the versatility that defines me."
            data-locale-es="Estoy cursando el ultimo ano de la carrera Tecnologo en Informatica. Gracias a la variedad de proyectos y desafios que he enfrentado, me siento preparado para <strong>asumir nuevos retos</strong> con la versatilidad que me caracteriza."
        >
            I am in my final year of the IT Technologist degree. Thanks to the wide
            range of projects and challenges I have tackled, I feel confident in my
            ability to <strong>take on new challenges</strong> with the versatility that defines me.
        </p>
        <p
            data-locale-mode="html"
            data-locale-en="In my free time, I enjoy reading and training. However, most of my spare time is dedicated to my true passion: software development and researching new technologies and trends."
            data-locale-es="En mi tiempo libre disfruto leer y entrenar. Sin embargo, gran parte de ese tiempo lo dedico a mi verdadera pasion: el desarrollo de software y la investigacion de nuevas tecnologias y tendencias."
        >
            In my free time, I enjoy reading and training. However, most of my spare
            time is dedicated to my true passion: software development and
            researching new technologies and trends.
        </p>
    </div>
</article>

<style>
    article {
        max-width: 700px;
        line-height: 1.5;
        margin-bottom: 60px;
        color: #d8d8d8ba;
    }
    strong {
        color: #d8d8d8;
    }
    .about-content {
        width: 100%;
    }

    h3{
        display: none;
    }

    @media (max-width: 768px) {
        h3{
            display: block;
            color: #d8d8d8;
            text-align: left;
        }
        article {
            margin-bottom: 40px;
            margin-left: auto;
            margin-right: auto;
            width: min(100%, 42rem);
        }
        .about-content {
            width: min(100%, 36rem);
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
    }

    @media (max-width: 1300px) {
        h3{
            display: block;
            color: #d8d8d8;
            text-align: left;
        }
        article {
            max-width: none;
            margin-bottom: 40px;
            margin-left: auto;
            margin-right: auto;
            width: min(100%, 42rem);
        }
        .about-content {
            width: min(100%, 36rem);
            margin-left: auto;
            margin-right: auto;
            text-align: center;
        }
    }
</style>
