---
import ArrowRight from "./icons/ArrowRight.astro";
import BlogPostCard from "./BlogPostCard.astro";

const allPosts = await Astro.glob("../pages/blog/*.md");
---

<aside class="blog" id="blog">
    <h3 data-locale-en="Blog" data-locale-es="Blog">Blog</h3>
    <ul>
        {Object.entries(allPosts)
            .sort((a, b) => b[1].frontmatter.id - a[1].frontmatter.id)
            .slice(0, 3)
            .map(([slug, { frontmatter }]) => (
                <BlogPostCard frontmatter={frontmatter} href={`./blog/${frontmatter.id}`} />
            ))}
    </ul>
    <a href="./blog"><span data-locale-en="See more posts" data-locale-es="Ver más artículos">See more posts</span> <ArrowRight class="arrow" /> </a>
</aside>

<style>
    aside {
        width: 100%;
        max-width: 800px;
        font-size: 0.875em;
        color: #d8d8d8;
        margin-top: 60px;
        margin-bottom: 60px;
    }

    .blog > ul {
        display: grid;
        gap: 1.08rem;
        padding: 0;
        margin-bottom: 1.1rem;
    }

    .arrow {
        padding-left: 3px;
        transition: padding-left 220ms ease;
    }

    a {
        display: inline-flex;
        text-decoration: none;
        align-items: center;
        color: #d8d8d8;
        font-weight: 500;
    }

    a:hover {
        color: #50cbc7;
    }

    a:hover .arrow {
        padding-left: 5px;
    }

    @media (max-width: 768px) {
        h3 {
            display: block;
            color: #d8d8d8;
        }

        aside {
            margin-top: 20px;
        }
    }

    @media (max-width: 1300px) {
        h3 {
            display: block;
            color: #d8d8d8;
        }

        aside {
            width: 100%;
        }
    }
</style>
